.header {
  text-align: center;
}

.header__logo {
  margin-top: 50px;
}

.header__menu {
  width: 873px;
  margin: 35px auto;
  display: flex;
  justify-content: space-between;
}

.header__menu__text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  color: #50946e;
  text-decoration: none;
}

.header__menu__text--lang {
  color: #d48c4c;
  text-decoration: underline;
  font-weight: 300;
}

.page-content__company {
  background: url("images/main-page-bg.svg");
  height: 750px;
  display: flex;
  align-items: center;
}

.page-content__company__info {
  width: 922px;
  margin: 0 auto;
  position: relative;
}

.page-content__company__info:after {
  content: "";
  position: absolute;
  height: 292px;
  bottom: 12px;
  left: -68px;
  border-left: 2px solid #ffffff;
}

.page-content__company__info__title {
  font-family: "Playfair Display";
  font-size: 85px;
  font-weight: 400;
  line-height: 95px;
  color: #ffffff;
}

.page-content__company__info__title strong {
  font-style: italic;
}

.page-content__company__info__text {
  width: 60%;
  margin-top: 60px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 300;
  line-height: 38px;
  color: #ffffff;
}

.page-content__width {
  width: 990.45px;
  margin: 0 auto;
}

.page-content__about {
  margin-top: 114px;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
}

.page-content__title {
  font-family: "Playfair Display";
  font-size: 64px;
  font-weight: 700;
  color: #50946e;
}

.page-content__text {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  color: #393d3f;
}

.page-content__about__left__text {
  color: #50946e;
  width: 95%;
  margin-top: 40px;
}

.page-content__about__left__text > span {
  font-weight: 600;
}

.page-content__services {
  margin-top: 100px;
}

.page-content__services__option {
  margin-top: 40px;
  margin-bottom: 60.5px;
}

.page-content__services__option__title {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
}

.page-content__services__option__title > img {
  height: 96px;
}

.page-content__services__option__title__text {
  margin-left: 53px;
}

.page-content__services__option__title__text--italic {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  color: #e7dfc6;
}

.page-content__services__option__title__text--semibold--uppercase {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: #50946e;
  text-transform: uppercase;
}

.page-content__services__option__desc {
  margin-top: 22px;
  margin-left: 149px;
}

.page-content__services__option__desc__text {
  margin-bottom: 21px;
}

.page-content__services__option__desc__link {
  color: #50946e;
}

.page-content__services__option__desc__ex {
  margin-top: 39px;
  border-left: 2px solid #e7dfc6;
  padding-left: 45.5px;
}

.page-content__services__option__desc__info__text {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #393d3f;
}

.page-content__services__option__desc__info__text > span {
  color: #50946e;
  font-weight: 600;
}

.page-content__services__option__desc__info__text--italic {
  font-style: italic;
}

.page-content__services__contact__text {
  text-align: center;
  color: #50946e;
  font-weight: 600;
}

.page-content__services__contact {
  position: relative;
}

.page-content__services__contact > img {
  position: absolute;
  right: 5%;
}

.page-content__references {
  margin-top: 100px;
  background: url("images/ref-bg.svg");
  height: 702.3px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-content__references__title {
  text-align: center;
  margin-bottom: 50px;
}

.page-content__references__sliders .slick-prev {
  left: -104px;
}

.page-content__references__sliders .slick-next {
  right: -104px;
}

.page-content__references__sliders .slick-prev:before,
.page-content__references__sliders .slick-next:before {
  display: none;
}

.page-content__references__sliders__item {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.page-content__references__sliders__item__right {
  width: 37.125rem;
}

.page-content__refrences__sliders__info {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 18px;
}

.page-content__references__sliders__info__line {
  background: #50946e;
  width: 13%;
  height: 2px;
}

.page-content__references__sliders__info__author {
  color: #50946e;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  margin-left: 5%;
}

.page-content__contact {
  margin-top: 99.7px;
}

.page-content__contact__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.page-content__contact__list {
  display: flex;
  justify-content: space-between;
  margin-top: 77px;
}

.page-content__contact__list__item {
  text-align: center;
}

.page-content__contact__list__item__header {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

#page-content__contact__list__item__info {
  display: flex;
  margin-top: 12px;
}

#page-content__contact__list__item__info img {
  margin-right: 22px;
}

.page-content__contact__message {
  text-align: center;
  font-weight: 600;
  color: #50946e;
  margin-top: 100px;
  margin-bottom: 50px;
}

.footer {
  margin-top: 100px;
  background: url("images/footer-bg.svg");
  height: 328px;
  display: flex;
  align-items: center;
}

.footer__content {
  display: flex;
  margin-top: 38px;
}

.footer__header {
  font-family: "Poppins";
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 15px;
}

.footer__text {
  font-family: "Poppins";
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
}

.footer__left,
.footer__right {
  width: 50%;
}

.footer__left__links {
  display: flex;
}

.footer__left__links:last-child {
  margin-top: 24px;
}

.footer__left__links__item {
  width: 40%;
  line-height: 26px;
}

.footer__social {
  text-decoration: none;
}

#twitter {
  margin-right: 32.3px;
}

.footer__right {
  position: relative;
}

.footer__right__text {
  font-size: 10px;
  width: 80%;
  line-height: 14px;
}

.footer__right__text a {
  color: #ffffff;
  font-size: 10px;
}

.footer__right__form {
  margin-top: 20px;
}

.footer__right__form input {
  width: 217px;
  height: 36px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: #50946e;
  font-size: 16px;
  font-weight: 300;
  font-family: "Poppins";
  color: #ffffff;
  padding-left: 20px;
  margin-right: 21px;
}

.footer__right__form input::placeholder {
  color: #ffffff;
}

.footer__right__form button {
  width: 120px;
  height: 40px;
  border-radius: 4px;
  background: #e7dfc6;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
	color: #50946e;
	cursor: pointer;
}

#go-top {
  position: absolute;
  right: 0;
	top: 0;
	cursor: pointer;
}
